* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    background: #1e67b1;
}

/* Container CSS */
.container { 
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh
}

/* Header CSS */

.header { 
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-items: center;
background-color: rgb(170, 201, 113);
}

/* Main Content CSS */
.main-content {
    display: grid;
    grid-template-rows: 1fr 8fr
}

.title-book {
    place-self: center;
    grid-row: 1;
}
.book-container { 
    background-color: rgb(155, 130, 101);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, min(1fr));
    gap: 20px;
    /* grid-auto-flow: column; */
    padding: 20px;
}
.book-card {
    height: 200px;
    border: 5px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }

.dialog-modal {
    height: 300px;
    width: 300px;
    place-self: center;
}