@font-face {
    font-family: 'Simple Plan';
    src: url(fonts/simple_plan/Simple\ Plan.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background:#FDBA74;
    font-family: Simple Plan;
}

/* Container CSS */
.container { 
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh
}

/* Header CSS */

.header { 
display: grid;
grid-template-columns: 1fr;
align-items: center;
justify-items: center;
background-color: #FDBA74;
padding: 15px;
}

/* Main Content CSS */
.main-content {
    display: grid;
    
    grid-template-rows: 1fr 8fr
}

.title-book {
    place-self: center;
    grid-row: 1;
    width: 100%;
    display: grid;
    /* border-bottom: 4px solid rgba(145, 143, 134, 0.61); */
    padding-bottom: 20px;
}
.book-container { 
    background-color: #ECFCCB;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, min(1fr));
    gap: 20px;
    /* grid-auto-flow: column; */
    padding: 20px;
}
.book-card {
    height: 230px;
    border: 3px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #FCD34D;
    border-left: 10px solid #854D0E;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 10px;
}
.book-title {
    
    text-align: center;
    word-wrap: break-word;
    
}
/* MODAL AND CSS FORM */
.dialog-modal {
    height: 330px;
    width: 300px;
    place-self: center;
    padding: 10px;
    border: none;
    border-radius: 5%;
    background-color: #BBF7D0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-left: 10px solid #5EEAD4;
}

.fieldsetInput {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: none;
    align-items: center;
    justify-items: center;;
    gap: 10px;
}

.form-row {
    display: grid;
    grid-column: 2/2;
}
.form-row input[type="text"]{
    padding: 5px;
    outline: none;
    border-radius: 15px;
}
.form-row input[type="number"]{
    padding: 5px;
    outline: none;
    border-radius: 15px;
}
.row3{
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 10px;
}

#readstatus-1 {
    grid-column: 2;
    grid-row: 1;
}
#readstatus-2 {
    grid-row: 2;
    grid-column: 2;
}
.label1 {
    grid-column: 1;
    grid-row: 1;
}
.label2 {
    grid-column: 1;
    grid-row: 2;
}
.closeBtn {
    grid-column: 3;
    grid-row: 1;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    justify-self: end;
    align-self: start;
    background: none;
    /* background-color: #FCD34D; */
}
.closeBtn:hover{
    /* filter: invert(0.3); */
    transition: 0.5s;
}
.confirmBtn {
    grid-column: 2;
    grid-row: 5;
    margin-top: 10px;

}
#submitBtnId {
    height: 50px;
    width: 100px;
    font-family: Simple Plan;
    border-radius: 200px
}
#submitBtnId:hover {
background-color: #FFFFFF;
}


.bookRead,
.bookNotRead{
    grid-column: 2;
    grid-row: 4;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    padding: 3px;
    font-family: Simple Plan;
}
.bookRead {
    background-color: #9CF6AC;
}
.bookRead:hover {
    background-color: #BEF264
}

.bookNotRead {
    background-color: #FF0000;
}
.bookNotRead:hover {
    background-color: #F87171;
}
.deleteBtn {
    grid-row: 5;
    height: 50px;
    grid-column: 3;
    grid-row: 1;
}
.deleteBtn:hover{
    filter: invert(0.4);
}

.newBookIcon {
    height: 70px;
    background-color: #818CF8;
    border-radius: 50px;
    place-self: center  ;
}
.newBookIcon:hover {
    background-color: #A5B4FC;
}

.book-title {
    grid-row: 1;
    grid-column: 2;
}

.book-Icon {
    height: 50px;
    grid-column: 1;
    grid-row: 1;
}

.book-author    {
    grid-column: 2;
    grid-row: 2;
}
.book-pages {
    grid-column: 2;
    grid-row: 3;
}

.headerText {
    font-size: 50px;
}